.header {
    background-color: #1C1C21;
    min-height: 88px;
}

.container {
    padding-top: 16px;
}

.list {
    display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.item {
    display: flex;
	align-items: center;
}

.item_l {
    justify-self: flex-start;
}

.item_r {
    justify-self: flex-end;
}

.link {
    text-decoration: none;
	color: #8585AD;
	display: flex;
	align-items: center;
}

.link__active {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
}

.text {
	color: inherit;
}

.text:hover {
	opacity: 0.8;
	transition: 0.2s;
}

.logo {
    display: block;
	justify-self: center;
	flex-grow: 2;
	text-align: center;
	padding-right: 10%;
}